<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>Small Tool</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
</head>
<body>
	<div class="tool-list" id="toolList" style="overflow:auto;">
        <a class="panel" href="components/json_all.html" title="JSON格式化、压缩、转义、去转义">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/json.png" id="json_click">
                </div>
                <div class="tool-content">
                    <div class="tool-title">JSON格式化</div>
                    <div class="tool-desc">JSON格式化、压缩、转义、去转义</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/time.html" title="时间戳格式化"><!--ui-state-default-->
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/time.png">
                </div>
                <div class="tool-content"  >
                    <div class="tool-title">时间戳转换</div>
                    <div class="tool-desc">时间戳格式化</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/calendar.html" title="农历、节气、节假日">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/calendar.png">
                </div>
                <div class="tool-content" >
                    <div class="tool-title">日历</div>
                    <div class="tool-desc">农历、节气、节假日</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/url.html" title="将URL后面的参数数据解析成json或者kv格式数据">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/url.png">
                </div>
                <div class="tool-content">
                    <div class="tool-title">URL参数解析</div>
                    <div class="tool-desc">将URL后面的参数数据解析成json或者kv格式数据</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/diff.html" title="可视化对比两段文本之间的差异">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/diff.png">
                </div>
                <div class="tool-content">
                    <div class="tool-title">文本/JSON diff</div>
                    <div class="tool-desc">可视化对比两段文本/JSON之间的差异</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/base64.html" title="包括：Base64的加解密、URL的编解码">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/base64.png">
                </div>
                <div class="tool-content">
                    <div class="tool-title">加解密工具</div>
                    <div class="tool-desc">包括：Base64的加解密、URL的编解码</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/crontab.html" title="CRON表达式解析，包括：linux、spring、quartz">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/cron.png">
                </div>
                <div class="tool-content">
                    <div class="tool-title">CRON表达式</div>
                    <div class="tool-desc">CRON表达式解析，包括：linux、spring、quartz</div>
                </div>
            </div>
        </a>

        <a class="panel " href="components/binary.html" title="包含常见的：二进制、八进制、十进制、十六进制之间的转换">
            <div class="panel-body">
                <div class="tool-image">
                    <img src="img/binary.png">
                </div>
                <div class="tool-content">
                    <div class="tool-title">进制转换</div>
                    <div class="tool-desc">包含常见的：二进制、八进制、十进制、十六进制之间的转换</div>
                </div>
            </div>
        </a>


    </div>
	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/popup.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?89459179d6d45c4a7d450e4e4619bfc9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
