<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="../../favicon.png" type="image/x-icon">
     <title>罗盘推演</title>
     <link rel="stylesheet" href="./css/index.css">
 </head>
 
 <body>
     <canvas class="webgl"></canvas>
     <div class="box">
         <div>敕令：临兵斗者，皆阵列前行</div>
         <img class="img" src="./video/bac2.gif">
         <div class="btn">衍算中...</div>
     </div>
     <script type="module" src="./js/index.js"></script>
 </body>
 
 </html>